params {
  model = 'inceptionv3'
  epochs = 10
  gpu = 0

  cfg_63 = "s3://eye2gene-main/configs/63class.json"
  baf_cfg = "s3://eye2gene-main/configs/augmentations_baf.json"
  mini_cfg = "s3://eye2gene-main/configs/hparam_set_6b_mini.json"

  train_csv = 's3://eye2gene-main/HEX_baf_v4_train.csv'
  val_csv = 's3://eye2gene-main/HEX_baf_v4_val.csv'

  images_data_dir = "s3://eye2gene-main/new_export/"
  images_dir_in_csv = "/mnt/data1/Eye2Gene/heyex_export/new_export/"

  output_dir = "s3://eye2gene-main/out/1"
}

process {
  errorStrategy = 'retry'
  maxRetries = 3
  executor = 'awsbatch'
  queue = 'TowerForge-7j1vPrMacSGrbFYz04roY-work'
  scratch = false
  memory = '16 GB'
  cpus = 1
}


aws {
  region = 'eu-west-2'
  client {
    uploadChunkSize = 10485760
  }
  batch {
    maxSpotAttempts = 0
    volumes = '/scratch/fusion:/tmp'
    executionRole = 'arn:aws:iam::783764580848:role/TowerForge-7j1vPrMacSGrbFYz04roY-ExecutionRole'
  }
}

workDir = 's3://seqera-main/work'

wave {
  enabled = true
  endpoint = 'https://wave.seqera.io'
}

fusion {
  enabled = true
}

tower {
  enabled = true
  endpoint = 'https://api.cloud.seqera.io'
}

cloudcache {
  enabled = true
  path = 's3://seqera-main/work/.cache'
}
