params {
  model = 'inceptionv3'
  epochs = 10
  gpu = 0
  images_dir_in_csv = "/mnt/data1/Eye2Gene/heyex_export/new_export/"
}

process {
  errorStrategy = 'retry'
  maxRetries = 3
  executor = 'awsbatch'
  scratch = false
}

aws {
  client {
    uploadChunkSize = 10485760
  }
  batch {
    maxSpotAttempts = 0
    volumes = '/scratch/fusion:/tmp'
  }
}

wave {
  enabled = true
  endpoint = 'https://wave.seqera.io'
}

fusion {
  enabled = true
}

tower {
  enabled = true
  endpoint = 'https://api.cloud.seqera.io'
}

cloudcache {
  enabled = true
}

profiles {
  eye2gene_main {
    // s3://eye2gene-main
    // s3://seqera-main
    workDir = 's3://seqera-main/work'
    params {
      cfg_63 = "s3://eye2gene-main/configs/63class.json"
      baf_cfg = "s3://eye2gene-main/configs/augmentations_baf.json"
      mini_cfg = "s3://eye2gene-main/configs/hparam_set_6b_mini.json"
      train_csv = 's3://eye2gene-main/HEX_baf_v4_train.csv'
      val_csv = 's3://eye2gene-main/HEX_baf_v4_val.csv'
      images_data_dir = "s3://eye2gene-main/new_export/"
      output_dir = "s3://eye2gene-main/out/1"
    }
    cloudcache {
      path = 's3://seqera-main/work/.cache'
    }
    process {
      queue = 'TowerForge-7j1vPrMacSGrbFYz04roY-work'
    }
    aws {
      batch {
        executionRole = 'arn:aws:iam::783764580848:role/TowerForge-7j1vPrMacSGrbFYz04roY-ExecutionRole'
      }
    }
  }

  eye2gene_site1 {
    // s3://eye2gene-main-site1
    // s3://seqera-main-site1
    workDir = 's3://seqera-main-site1/work'
    params {
      cfg_63 = "s3://eye2gene-main-site1/configs/63class.json"
      baf_cfg = "s3://eye2gene-main-site1/configs/augmentations_baf.json"
      mini_cfg = "s3://eye2gene-main-site1/configs/hparam_set_6b_mini.json"
      train_csv = 's3://eye2gene-main-site1/HEX_baf_v4_train.csv'
      val_csv = 's3://eye2gene-main-site1/HEX_baf_v4_val.csv'
      images_data_dir = "s3://eye2gene-main-site1/new_export/"
      output_dir = "s3://eye2gene-main-site1/out/1"
    }
    cloudcache {
      path = 's3://seqera-main-site1/work/.cache'
    }
    process {
      queue = 'TowerForge-5euUpU4iYXwoRuO5AoJmk4-work'
    }
    aws {
      batch {
        executionRole = 'arn:aws:iam::867344459060:role/TowerForge-5euUpU4iYXwoRuO5AoJmk4-ExecutionRole'
      }
    }
  }

  eye2gene_site2 {
    // s3://eye2gene-main-site2
    // s3://seqera-main-site2
    workDir = 's3://seqera-main-site2/work'
    params {
      cfg_63 = "s3://eye2gene-main-site2/configs/63class.json"
      baf_cfg = "s3://eye2gene-main-site2/configs/augmentations_baf.json"
      mini_cfg = "s3://eye2gene-main-site2/configs/hparam_set_6b_mini.json"
      train_csv = 's3://eye2gene-main-site2/HEX_baf_v4_train.csv'
      val_csv = 's3://eye2gene-main-site2/HEX_baf_v4_val.csv'
      images_data_dir = "s3://eye2gene-main-site2/new_export/"
      output_dir = "s3://eye2gene-main-site2/out/1"
    }
    cloudcache {
      path = 's3://seqera-main-site1/work/.cache'
    }
    process {
      queue = 'TowerForge-64LW3gPhLQROxVuLMIfxif-work'
    }
    aws {
      batch {
        executionRole = 'arn:aws:iam::222634385357:role/TowerForge-64LW3gPhLQROxVuLMIfxif-ExecutionRole'
      }
    }
  }

  eye2gene_site3 {
    // s3://eye2gene-main-site3
    // s3://seqera-main-site3
    workDir = 's3://seqera-main-site3/work'
    params {
      cfg_63 = "s3://eye2gene-main-site3/configs/63class.json"
      baf_cfg = "s3://eye2gene-main-site3/configs/augmentations_baf.json"
      mini_cfg = "s3://eye2gene-main-site3/configs/hparam_set_6b_mini.json"
      train_csv = 's3://eye2gene-main-site3/HEX_baf_v4_train.csv'
      val_csv = 's3://eye2gene-main-site3/HEX_baf_v4_val.csv'
      images_data_dir = "s3://eye2gene-main-site3/new_export/"
      output_dir = "s3://eye2gene-main-site3/out/1"
    }
    process {
      queue = 'TowerForge-1MpC7n7NgYbjeE9suQG7yj-work'
    }
    aws {
      batch {
        executionRole = 'arn:aws:iam::577638380091:role/TowerForge-1MpC7n7NgYbjeE9suQG7yj-ExecutionRole'
      }
    }
  }
}

