params {
  model = 'inceptionv3'
  epochs = 10
  gpu = 0

  cfg_63 = "s3://eye2gene-main/configs/63class.json"
  baf_cfg = "s3://eye2gene-main/configs/augmentations_baf.json"
  mini_cfg = "s3://eye2gene-main/configs/hparam_set_6b_mini.json"

  train_csv = 's3://eye2gene-main/HEX_baf_v4_train.csv'
  val_csv = 's3://eye2gene-main/HEX_baf_v4_val.csv'

  images_data_dir = "s3://eye2gene-main/new_export/"
  images_dir_in_csv = "/mnt/data1/Eye2Gene/heyex_export/new_export/"

  output_dir = "s3://eye2gene-main/out/1"
}
