params {
  model = 'inceptionv3'
  epochs = 10
  gpu = 0

  cfg_63 = "/mnt/data1/Eye2Gene/classification_params/configs/63class.json"
  baf_cfg = "/mnt/data1/Eye2Gene/classification_params/configs/augmentations_baf.json"
  mini_cfg = "/mnt/data1/Eye2Gene/classification_params/configs/hparam_set_6b_mini.json"

  train_csv = '/mnt/data1/Eye2Gene/classification_params/HEX_baf_v4_train.csv'
  val_csv = '/mnt/data1/Eye2Gene/classification_params/HEX_baf_v4_val.csv'

  images_data_dir = "/mnt/data1/Eye2Gene/heyex_export/new_export/"
  // This should be the same as the images_data_dir in the CSV
  images_dir_in_csv = "/mnt/data1/Eye2Gene/heyex_export/new_export/"

  output_dir = "res_output"
}
