// default params
params.load_weights_h5_path = ''

profiles {
  local {
    process.executor = 'local'
  }
}

process {
  // errorStrategy = 'terminate'
  errorStrategy = 'ignore'
}

docker {
  enabled = true
}

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
  enabled = true
  file = "results/pipeline_info/execution_timeline_${trace_timestamp}.html"
}
report {
  enabled = true
  file = "results/pipeline_info/execution_report_${trace_timestamp}.html"
}
trace {
  enabled = true
  file = "results/pipeline_info/pipeline_trace_${trace_timestamp}.txt"
}
dag {
  enabled = true
  file = "results/pipeline_info/pipeline_dag_${trace_timestamp}.html"
}
