params {
  model = 'inceptionv3'
  epochs = 10
  gpu = 0

  train_config = "./configs/example_config.json"

  train_csv = '/mnt/data1/Eye2Gene/classification_params/HEX_baf_v4_train.csv'
  val_csv = '/mnt/data1/Eye2Gene/classification_params/HEX_baf_v4_val.csv'

  images_data_dir = "/mnt/data1/Eye2Gene/heyex_export/new_export/"
  // This should be the same as the images_data_dir in the CSV
  images_dir_in_csv = "/mnt/data1/Eye2Gene/heyex_export/new_export/"

  output_dir = "res_output"

  // load_weights_h5_path = '/mnt/data1/Eye2Gene/classification_params/test_start_weights/03122024-155742-InceptionV3-1e-32bs-0.0001lr.h5'
}
